<div class="header">
    <div class="container">
        <div class="d-flex align-items-center justify-content-around header__search">
            <div class="d-none d-md-block">
                <img id="img-login"
                     src="/assets/images/rick_and_morty_logo.png"
                     height="60px" />
            </div>
            <div class="flex-fill header__search__input">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" [placeholder]="'header.search-input' | translate" aria-label="Search">
                    <button class="btn btn-outline-secondary" type="submit">
                        {{ 'header.search' | translate }}
                    </button>
                </form>
            </div>
            <div class="header__search__language">
                <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img id="img-login"
                    [src]="userLanguage.src"
                    height="20px" />
                </button>
                <ul class="dropdown-menu __dropdown">
                    <li *ngFor="let translate of translates;"
                        (click)="setTranslate(translate)">
                        <ng-container
                            [ngTemplateOutlet]="languageOption"
                            [ngTemplateOutletContext]="{ translate }">
                        </ng-container>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="header__navbar">
        <div class="container header__nav">
            <nav class="navbar navbar-expand-sm">
                <button class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item header__navbar__item">
                            <a class="nav-link" href="#">{{ 'header.characters' | translate }}</a>
                        </li>
                        <li class="nav-item header__navbar__item">
                            <a class="nav-link" href="#">{{ 'header.locations' | translate }}</a>
                        </li>
                        <li class="nav-item header__navbar__item">
                            <a class="nav-link" href="#">{{ 'header.episodes' | translate }}</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>

<ng-template #languageOption let-translate="translate">
    <span class="dropdown-item d-flex align-items-center">
        <img [src]="translate.src"
             height="20px"/>
    </span>
</ng-template>
