.header {
    width: 100%;
    padding: 16px 0;

    &__search {
        margin: 16px;
    }

    &__navbar {
        padding: 8px 0;
        background-color: var(--color-blue-light-10);
        border: solid 1px var(--color-base-gray);
        
        &__item {
            margin-left: 40px;
        }

        a {
            color: var(--color-blue-dark-10);
            opacity: 0.8;
            font-weight: 400;
        }

        a:hover {
            cursor: pointer;
            opacity: 1;
        }
    }

}